In [1]:
import petl as etl

In [2]:
import pandas as pd

In [3]:
import glob

In [4]:
from collections import OrderedDict

In [5]:
table1a = etl.fromcsv('/Users/lizadams/EPA-CTOOLS/CensusData/ACS_NATIONAL/North_Carolina/NC_RACE_ACS_15_5YR_B02001_with_ann.csv')

In [6]:
table1a

+-------------------------+----------------+--------------------------------------------------------------------+--------------------+---------------------------+----------------------------------+-----------------------------------------+------------------------------------------------------+-------------------------------------------------------------+--------------------------------------------------------------+---------------------------------------------------------------------+----------------------------------+-----------------------------------------+-----------------------------------------------------------------------+------------------------------------------------------------------------------+--------------------------------------------+---------------------------------------------------+-----------------------------------------+------------------------------------------------+-------------------------------------------------------------------------------+--------------------------------------------------------------------------------------+--------------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------+
| GEO.id                  | GEO.id2        | GEO.display-label                                                  | HD01_VD01          | HD02_VD01                 | HD01_VD02                        | HD02_VD02                               | HD01_VD03                                            | HD02_VD03                                                   | HD01_VD04                                                    | HD02_VD04                                                           | HD01_VD05                        | HD02_VD05                               | HD01_VD06                                                             | HD02_VD06                                                                    | HD01_VD07                                  | HD02_VD07                                         | HD01_VD08                               | HD02_VD08                                      | HD01_VD09                                                                     | HD02_VD09                                                                            | HD01_VD10                                                                                              | HD02_VD10                                                                                                     |
+=========================+================+====================================================================+====================+===========================+==================================+=========================================+======================================================+=============================================================+==============================================================+=====================================================================+==================================+=========================================+=======================================================================+==============================================================================+============================================+===================================================+=========================================+================================================+===============================================================================+======================================================================================+========================================================================================================+===============================================================================================================+
| 'Id'                    | 'Id2'          | 'Geography'                                                        | 'Estimate; Total:' | 'Margin of Error; Total:' | 'Estimate; Total: - White alone' | 'Margin of Error; Total: - White alone' | 'Estimate; Total: - Black or African American alone' | 'Margin of Error; Total: - Black or African American alone' | 'Estimate; Total: - American Indian and Alaska Native alone' | 'Margin of Error; Total: - American Indian and Alaska Native alone' | 'Estimate; Total: - Asian alone' | 'Margin of Error; Total: - Asian alone' | 'Estimate; Total: - Native Hawaiian and Other Pacific Islander alone' | 'Margin of Error; Total: - Native Hawaiian and Other Pacific Islander alone' | 'Estimate; Total: - Some other race alone' | 'Margin of Error; Total: - Some other race alone' | 'Estimate; Total: - Two or more races:' | 'Margin of Error; Total: - Two or more races:' | 'Estimate; Total: - Two or more races: - Two races including Some other race' | 'Margin of Error; Total: - Two or more races: - Two races including Some other race' | 'Estimate; Total: - Two or more races: - Two races excluding Some other race, and three or more races' | 'Margin of Error; Total: - Two or more races: - Two races excluding Some other race, and three or more races' |
+-------------------------+----------------+--------------------------------------------------------------------+--------------------+---------------------------+----------------------------------+-----------------------------------------+------------------------------------------------------+-------------------------------------------------------------+--------------------------------------------------------------+---------------------------------------------------------------------+----------------------------------+-----------------------------------------+-----------------------------------------------------------------------+------------------------------------------------------------------------------+--------------------------------------------+---------------------------------------------------+-----------------------------------------+------------------------------------------------+-------------------------------------------------------------------------------+--------------------------------------------------------------------------------------+--------------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------+
| '1500000US370010201001' | '370010201001' | 'Block Group 1, Census Tract 201, Alamance County, North Carolina' | '1176'             | '253'                     | '1031'                           | '228'                                   | '114'                                                | '94'                                                        | '0'                                                          | '12'                                                                | '0'                              | '12'                                    | '0'                                                                   | '12'                                                                         | '0'                                        | '12'                                              | '31'                                    | '23'                                           | '0'                                                                           | '12'                                                                                 | '31'                                                                                                   | '23'                                                                                                          |
+-------------------------+----------------+--------------------------------------------------------------------+--------------------+---------------------------+----------------------------------+-----------------------------------------+------------------------------------------------------+-------------------------------------------------------------+--------------------------------------------------------------+---------------------------------------------------------------------+----------------------------------+-----------------------------------------+-----------------------------------------------------------------------+------------------------------------------------------------------------------+--------------------------------------------+---------------------------------------------------+-----------------------------------------+------------------------------------------------+-------------------------------------------------------------------------------+--------------------------------------------------------------------------------------+--------------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------+
| '1500000US370010201002' | '370010201002' | 'Block Group 2, Census Tract 201, Alamance County, North Carolina' | '1330'             | '248'                     | '1070'                           | '233'                                   | '117'                                                | '92'                                                        | '7'                                                          | '12'                                                                | '26'                             | '28'                                    | '0'                                                                   | '12'                                                                         | '51'                                       | '62'                                              | '59'                                    | '51'                                           | '0'                                                                           | '12'                                                                                 | '59'                                                                                                   | '51'                                                                                                          |
+-------------------------+----------------+--------------------------------------------------------------------+--------------------+---------------------------+----------------------------------+-----------------------------------------+------------------------------------------------------+-------------------------------------------------------------+--------------------------------------------------------------+---------------------------------------------------------------------+----------------------------------+-----------------------------------------+-----------------------------------------------------------------------+------------------------------------------------------------------------------+--------------------------------------------+---------------------------------------------------+-----------------------------------------+------------------------------------------------+-------------------------------------------------------------------------------+--------------------------------------------------------------------------------------+--------------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------+
| '1500000US370010201003' | '370010201003' | 'Block Group 3, Census Tract 201, Alamance County, North Carolina' | '1093'             | '376'                     | '102'                            | '71'                                    | '561'                                                | '207'                                                       | '10'                                                         | '16'                                                                | '0'                              | '12'                                    | '0'                                                                   | '12'                                                                         | '325'                                      | '331'                                             | '95'                                    | '69'                                           | '46'                                                                          | '48'                                                                                 | '49'                                                                                                   | '44'                                                                                                          |
+-------------------------+----------------+--------------------------------------------------------------------+--------------------+---------------------------+----------------------------------+-----------------------------------------+------------------------------------------------------+-------------------------------------------------------------+--------------------------------------------------------------+---------------------------------------------------------------------+----------------------------------+-----------------------------------------+-----------------------------------------------------------------------+------------------------------------------------------------------------------+--------------------------------------------+---------------------------------------------------+-----------------------------------------+------------------------------------------------+-------------------------------------------------------------------------------+--------------------------------------------------------------------------------------+--------------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------+
| '1500000US370010201004' | '370010201004' | 'Block Group 4, Census Tract 201, Alamance County, North Carolina' | '509'              | '218'                     | '221'                            | '85'                                    | '147'                                                | '108'                                                       | '0'                                                          | '12'                                                                | '0'                              | '12'                                    | '0'                                                                   | '12'                                                                         | '141'                                      | '188'                                             | '0'                                     | '12'                                           | '0'                                                                           | '12'                                                                                 | '0'                                                                                                    | '12'                                                                                                          |
+-------------------------+----------------+--------------------------------------------------------------------+--------------------+---------------------------+----------------------------------+-----------------------------------------+------------------------------------------------------+-------------------------------------------------------------+--------------------------------------------------------------+---------------------------------------------------------------------+----------------------------------+-----------------------------------------+-----------------------------------------------------------------------+------------------------------------------------------------------------------+--------------------------------------------+---------------------------------------------------+-----------------------------------------+------------------------------------------------+-------------------------------------------------------------------------------+--------------------------------------------------------------------------------------+--------------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------+
...

In [7]:
#Read in the tables
#Note that wildcards didn't work so I had to rename the directories to replace space with _
# Note some of the files didn't exist, so they are omitted for Alabama, Alaska and South Dakota
#'./Alabama/AL_RACE_ACS_15_5YR_B02001_with_ann.csv'
df1 = etl.fromcsv('./Alabama/AL_RACE_ACS_15_5YR_B02001.csv')
df2 = etl.fromcsv('./Alaska/AK_RACE_ACS_15_5YR_B02001_with_ann.csv')
df3 = etl.fromcsv('./Arizona/AZ_RACE_ACS_15_5YR_B02001_with_ann.csv')
df4 = etl.fromcsv('./Arkansas/AR_RACE_ACS_15_5YR_B02001_with_ann.csv')
df5 = etl.fromcsv('./California/CA_RACE_ACS_15_5YR_B02001_with_ann.csv')
df6 = etl.fromcsv('./Colorado/CO_RACE_ACS_15_5YR_B02001_with_ann.csv')
df7 = etl.fromcsv('./Connecticutt/CT_RACE_ACS_15_5YR_B02001_with_ann.csv')
df8 = etl.fromcsv('./DC/DC_RACE_ACS_15_5YR_B02001_with_ann.csv')
df9 = etl.fromcsv('./Delaware/DE_RACE_ACS_15_5YR_B02001_with_ann.csv')
df10 = etl.fromcsv('./Florida/FL_RACE_ACS_15_5YR_B02001_with_ann.csv')
df11 = etl.fromcsv('./Georgia/GA_RACE_ACS_15_5YR_B02001_with_ann.csv')
df12 = etl.fromcsv('./Hawaii/HI_RACE_ACS_15_5YR_B02001_with_ann.csv')
df13 = etl.fromcsv('./Idaho/ID_RACE_ACS_15_5YR_B02001_with_ann.csv')
df14 = etl.fromcsv('./Illinois/IL_RACE_ACS_15_5YR_B02001_with_ann.csv')
df15 = etl.fromcsv('./Indiana/IN_RACE_ACS_15_5YR_B02001_with_ann.csv')
df16 = etl.fromcsv('./Iowa/IA_RACE_ACS_15_5YR_B02001_with_ann.csv')
df17 = etl.fromcsv('./Kansas/KS_RACE_ACS_15_5YR_B02001_with_ann.csv')
df18 = etl.fromcsv('./Kentucky/KY_RACE_ACS_15_5YR_B02001_with_ann.csv')
df19 = etl.fromcsv('./Louisiana/LA_RACE_ACS_15_5YR_B02001_with_ann.csv')
df20 = etl.fromcsv('./Maine/ME_RACE_ACS_15_5YR_B02001_with_ann.csv')
df21 = etl.fromcsv('./Maryland/MD_RACE_ACS_15_5YR_B02001_with_ann.csv')
df22 = etl.fromcsv('./Massachusetts/MA_RACE_ACS_15_5YR_B02001_with_ann.csv')
df23 = etl.fromcsv('./Michigan/MI_RACE_ACS_15_5YR_B02001_with_ann.csv')
df24 = etl.fromcsv('./Minnesota/MN_RACE_ACS_15_5YR_B02001_with_ann.csv')
df25 = etl.fromcsv('./Mississippi/MS_RACE_ACS_15_5YR_B02001_with_ann.csv')
df26 = etl.fromcsv('./Missouri/MO_RACE_ACS_15_5YR_B02001_with_ann.csv')
df27 = etl.fromcsv('./Montana/MT_RACE_ACS_15_5YR_B02001_with_ann.csv')
df28 = etl.fromcsv('./Nebraska/NE_RACE_ACS_15_5YR_B02001_with_ann.csv')
df29 = etl.fromcsv('./Nevada/NV_RACE_ACS_15_5YR_B02001_with_ann.csv')
df30 = etl.fromcsv('./New_Hampshire/NH_RACE_ACS_15_5YR_B02001_with_ann.csv')
df31 = etl.fromcsv('./New_Jersey/NJ_RACE_ACS_15_5YR_B02001_with_ann.csv')
df32 = etl.fromcsv('./New_Mexico/NM_RACE_ACS_15_5YR_B02001_with_ann.csv', encoding = "ISO-8859-1")
df33 = etl.fromcsv('./New_York/NY_RACE_ACS_15_5YR_B02001_with_ann.csv')
df34 = etl.fromcsv('./North_Carolina/NC_RACE_ACS_15_5YR_B02001_with_ann.csv')
df35 = etl.fromcsv('./North_Dakota/ND_RACE_ACS_15_5YR_B02001_with_ann.csv')
df36 = etl.fromcsv('./Ohio/OH_RACE_ACS_15_5YR_B02001_with_ann.csv')
df37 = etl.fromcsv('./Oklahoma/OK_RACE_ACS_15_5YR_B02001_with_ann.csv')
df38 = etl.fromcsv('./Oregon/OR_RACE_ACS_15_5YR_B02001_with_ann.csv')
df39 = etl.fromcsv('./Pennsylvania/PA_RACE_ACS_15_5YR_B02001_with_ann.csv')
df40 = etl.fromcsv('./Puerto_Rico/PR_RACE_ACS_15_5YR_B02001_with_ann.csv', encoding = "ISO-8859-1")
df41 = etl.fromcsv('./Rhode_Island/RI_RACE_ACS_15_5YR_B02001_with_ann.csv')
df42 = etl.fromcsv('./South_Carolina/SC_RACE_ACS_15_5YR_B02001_with_ann.csv')
df43 = etl.fromcsv('./South_Dakota/ACS_15_5YR_B02001_with_ann.csv', encoding = "ISO-8859-1")
df44 = etl.fromcsv('./Tennessee/TN_RACE_ACS_15_5YR_B02001_with_ann.csv')
df45 = etl.fromcsv('./Texas/TX_RACE_ACS_15_5YR_B02001_with_ann.csv')
df46 = etl.fromcsv('./Utah/UT_RACE_ACS_15_5YR_B02001_with_ann.csv')
df47 = etl.fromcsv('./Vermont/VT_RACE_ACS_15_5YR_B02001_with_ann.csv')
df48 = etl.fromcsv('./Virginia/VA_RACE_ACS_15_5YR_B02001_with_ann.csv')
df49 = etl.fromcsv('./Washington/WA_RACE_ACS_15_5YR_B02001_with_ann.csv')
df50 = etl.fromcsv('./West_Virginia/WV_RACE_ACS_15_5YR_B02001_with_ann.csv')
df51 = etl.fromcsv('./Wisconsin/WI_RACE_ACS_15_5YR_B02001_with_ann.csv')
df52 = etl.fromcsv('./Wyoming/WY_RACE_ACS_15_5YR_B02001_with_ann.csv')

In [8]:
df_first = etl.transform.basics.cat(df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13, df14, df15,
                             df16, df17, df18, df19, df20, df21, df22, df23, df24, df25, df26, df27,
                            df28, df29, df30, df31, df32, df33, df34, df35,
                            df36, df37, df38, df39, df40, df41, df42, df43, df44, df45,
                                 df46, df47, df48, df49, df50, df51, df52)

In [9]:
etl.transform.basics.tail(df_first)

+-------------------------+----------------+------------------------------------------------------------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+
| GEO.id                  | GEO.id2        | GEO.display-label                                          | HD01_VD01 | HD02_VD01 | HD01_VD02 | HD02_VD02 | HD01_VD03 | HD02_VD03 | HD01_VD04 | HD02_VD04 | HD01_VD05 | HD02_VD05 | HD01_VD06 | HD02_VD06 | HD01_VD07 | HD02_VD07 | HD01_VD08 | HD02_VD08 | HD01_VD09 | HD02_VD09 | HD01_VD10 | HD02_VD10 |
+=========================+================+============================================================+===========+===========+===========+===========+===========+===========+===========+===========+===========+===========+===========+===========+===========+===========+===========+===========+===========+===========+===========+===========+
| '1500000US560459511001' | '560459511001' | 'Block Group 1, Census Tract 9511, Weston County, Wyoming' | '1392'    | '244'     | '1307'    | '233'     | '0'       | '11'      | '27'      | '47'      | '0'       | '11'      | '0'       | '11'      | '0'       | '11'      | '58'      | '63'      | '0'       | '11'      | '58'      | '63'      |
+-------------------------+----------------+------------------------------------------------------------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+
| '1500000US560459511002' | '560459511002' | 'Block Group 2, Census Tract 9511, Weston County, Wyoming' | '2050'    | '249'     | '1983'    | '236'     | '15'      | '17'      | '20'      | '18'      | '10'      | '15'      | '0'       | '11'      | '5'       | '10'      | '17'      | '13'      | '9'       | '12'      | '8'       | '11'      |
+-------------------------+----------------+------------------------------------------------------------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+
| '1500000US560459513001' | '560459513001' | 'Block Group 1, Census Tract 9513, Weston County, Wyoming' | '1291'    | '333'     | '1096'    | '319'     | '0'       | '11'      | '36'      | '38'      | '0'       | '11'      | '0'       | '11'      | '0'       | '11'      | '159'     | '136'     | '0'       | '11'      | '159'     | '136'     |
+-------------------------+----------------+------------------------------------------------------------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+
| '1500000US560459513002' | '560459513002' | 'Block Group 2, Census Tract 9513, Weston County, Wyoming' | '1046'    | '224'     | '1044'    | '224'     | '0'       | '11'      | '0'       | '11'      | '0'       | '11'      | '0'       | '11'      | '0'       | '11'      | '2'       | '5'       | '0'       | '11'      | '2'       | '5'       |
+-------------------------+----------------+------------------------------------------------------------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+
| '1500000US560459513003' | '560459513003' | 'Block Group 3, Census Tract 9513, Weston County, Wyoming' | '1373'    | '261'     | '1345'    | '261'     | '0'       | '11'      | '0'       | '11'      | '28'      | '18'      | '0'       | '11'      | '0'       | '11'      | '0'       | '11'      | '0'       | '11'      | '0'       | '11'      |
+-------------------------+----------------+------------------------------------------------------------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+

In [70]:
#trouble shooting the issue with #df32 - added an encoding option, see above
#/Users/lizadams/anaconda/lib/python3.6/codecs.py in decode(self, input, final)
#    319         # decode input (taking the buffer into account)
#    320         data = self.buffer + input
#--> 321         (result, consumed) = self._buffer_decode(data, self.errors, final)
#    322         # keep undecoded input until the next call
#    323         self.buffer = data[consumed:]

#UnicodeDecodeError: 'utf-8' codec can't decode byte 0xf1 in position 5365: invalid continuation byte

#troubleshooting issue with #df40
#nicodeDecodeError: 'utf-8' codec can't decode byte 0xf1 in position 4859: invalid continuation byte

In [ ]:
#remove margin of error columns from the table, keep only the column with estimates

In [10]:
table2 = etl.cutout(df_first, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22)

In [11]:
table2

+-------------------------+----------------+------------------------------------------------------------+--------------------+----------------------------------+------------------------------------------------------+--------------------------------------------------------------+----------------------------------+-----------------------------------------------------------------------+--------------------------------------------+-----------------------------------------+-------------------------------------------------------------------------------+--------------------------------------------------------------------------------------------------------+
| GEO.id                  | GEO.id2        | GEO.display-label                                          | HD01_VD01          | HD01_VD02                        | HD01_VD03                                            | HD01_VD04                                                    | HD01_VD05                        | HD01_VD06                                                             | HD01_VD07                                  | HD01_VD08                               | HD01_VD09                                                                     | HD01_VD10                                                                                              |
+=========================+================+============================================================+====================+==================================+======================================================+==============================================================+==================================+=======================================================================+============================================+=========================================+===============================================================================+========================================================================================================+
| 'Id'                    | 'Id2'          | 'Geography'                                                | 'Estimate; Total:' | 'Estimate; Total: - White alone' | 'Estimate; Total: - Black or African American alone' | 'Estimate; Total: - American Indian and Alaska Native alone' | 'Estimate; Total: - Asian alone' | 'Estimate; Total: - Native Hawaiian and Other Pacific Islander alone' | 'Estimate; Total: - Some other race alone' | 'Estimate; Total: - Two or more races:' | 'Estimate; Total: - Two or more races: - Two races including Some other race' | 'Estimate; Total: - Two or more races: - Two races excluding Some other race, and three or more races' |
+-------------------------+----------------+------------------------------------------------------------+--------------------+----------------------------------+------------------------------------------------------+--------------------------------------------------------------+----------------------------------+-----------------------------------------------------------------------+--------------------------------------------+-----------------------------------------+-------------------------------------------------------------------------------+--------------------------------------------------------------------------------------------------------+
| '1500000US010010201001' | '010010201001' | 'Block Group 1, Census Tract 201, Autauga County, Alabama' | '649'              | '560'                            | '89'                                                 | '0'                                                          | '0'                              | '0'                                                                   | '0'                                        | '0'                                     | '0'                                                                           | '0'                                                                                                    |
+-------------------------+----------------+------------------------------------------------------------+--------------------+----------------------------------+------------------------------------------------------+--------------------------------------------------------------+----------------------------------+-----------------------------------------------------------------------+--------------------------------------------+-----------------------------------------+-------------------------------------------------------------------------------+--------------------------------------------------------------------------------------------------------+
| '1500000US010010201002' | '010010201002' | 'Block Group 2, Census Tract 201, Autauga County, Alabama' | '1299'             | '1160'                           | '61'                                                 | '6'                                                          | '12'                             | '0'                                                                   | '0'                                        | '60'                                    | '0'                                                                           | '60'                                                                                                   |
+-------------------------+----------------+------------------------------------------------------------+--------------------+----------------------------------+------------------------------------------------------+--------------------------------------------------------------+----------------------------------+-----------------------------------------------------------------------+--------------------------------------------+-----------------------------------------+-------------------------------------------------------------------------------+--------------------------------------------------------------------------------------------------------+
| '1500000US010010202001' | '010010202001' | 'Block Group 1, Census Tract 202, Autauga County, Alabama' | '1074'             | '385'                            | '617'                                                | '0'                                                          | '19'                             | '0'                                                                   | '0'                                        | '53'                                    | '0'                                                                           | '53'                                                                                                   |
+-------------------------+----------------+------------------------------------------------------------+--------------------+----------------------------------+------------------------------------------------------+--------------------------------------------------------------+----------------------------------+-----------------------------------------------------------------------+--------------------------------------------+-----------------------------------------+-------------------------------------------------------------------------------+--------------------------------------------------------------------------------------------------------+
| '1500000US010010202002' | '010010202002' | 'Block Group 2, Census Tract 202, Autauga County, Alabama' | '1082'             | '501'                            | '532'                                                | '0'                                                          | '31'                             | '0'                                                                   | '3'                                        | '15'                                    | '0'                                                                           | '15'                                                                                                   |
+-------------------------+----------------+------------------------------------------------------------+--------------------+----------------------------------+------------------------------------------------------+--------------------------------------------------------------+----------------------------------+-----------------------------------------------------------------------+--------------------------------------------+-----------------------------------------+-------------------------------------------------------------------------------+--------------------------------------------------------------------------------------------------------+
...

In [12]:
etl.rowlengths(table2)

+--------+--------+
| length | count  |
+========+========+
|     13 | 219511 |
+--------+--------+

In [13]:
# convert the numbers to integers so that we can add them properly
table2 = etl.convert(table2, (3, 4, 5, 6, 7, 8, 9, 10, 11, 12), int)

In [22]:
# define a function that groups the data so that we have fewer age categories
# 0-4, 5-9, 10-17, 18-44, 45-64, 65+
# dropping row[0] as this includes characters in it, and so all values are converted to None
def rowmapper(row):
      return [row[0], row[1], row[2], row[3],
              row.HD01_VD02, row.HD01_VD03, row.HD01_VD04, row.HD01_VD05, row.HD01_VD06, 
              row.HD01_VD07, row.HD01_VD09 + row.HD01_VD10
                ]

In [28]:
# create the table with a new header
table3 = etl.rowmap(table2, rowmapper, header=['GEO.id','GEO.id2', 'GEO.display-label' 'Estimate; Total', 'White',
                        'African American','American Indian', 'Asian','Hawaiian', 'Some other race alone', 
                        'Two or more races' ])

In [29]:
# display the table and make sure the number of males in the new grouping match the male estimate
# verify also that the number of females in the new grouping match the female estimate
table3

+-------------------------+----------------+------------------------------------------------------------+-------+------------------+-----------------+-------+----------+-----------------------+-------------------+-----+
| GEO.id                  | GEO.id2        | GEO.display-labelEstimate; Total                           | White | African American | American Indian | Asian | Hawaiian | Some other race alone | Two or more races |     |
+=========================+================+============================================================+=======+==================+=================+=======+==========+=======================+===================+=====+
| '1500000US010010201001' | '010010201001' | 'Block Group 1, Census Tract 201, Autauga County, Alabama' |   649 |              560 |              89 |     0 |        0 |                     0 |                 0 |   0 |
+-------------------------+----------------+------------------------------------------------------------+-------+------------------+-----------------+-------+----------+-----------------------+-------------------+-----+
| '1500000US010010201002' | '010010201002' | 'Block Group 2, Census Tract 201, Autauga County, Alabama' |  1299 |             1160 |              61 |     6 |       12 |                     0 |                 0 |  60 |
+-------------------------+----------------+------------------------------------------------------------+-------+------------------+-----------------+-------+----------+-----------------------+-------------------+-----+
| '1500000US010010202001' | '010010202001' | 'Block Group 1, Census Tract 202, Autauga County, Alabama' |  1074 |              385 |             617 |     0 |       19 |                     0 |                 0 |  53 |
+-------------------------+----------------+------------------------------------------------------------+-------+------------------+-----------------+-------+----------+-----------------------+-------------------+-----+
| '1500000US010010202002' | '010010202002' | 'Block Group 2, Census Tract 202, Autauga County, Alabama' |  1082 |              501 |             532 |     0 |       31 |                     0 |                 3 |  15 |
+-------------------------+----------------+------------------------------------------------------------+-------+------------------+-----------------+-------+----------+-----------------------+-------------------+-----+
| '1500000US010010203001' | '010010203001' | 'Block Group 1, Census Tract 203, Autauga County, Alabama' |  2143 |             1521 |             456 |    15 |       11 |                     8 |                 0 | 132 |
+-------------------------+----------------+------------------------------------------------------------+-------+------------------+-----------------+-------+----------+-----------------------+-------------------+-----+
...

In [30]:
#notice that the sub-header description has been dropped, as all values were none, as they aere not an integer
etl.rowlengths(table3)

+--------+--------+
| length | count  |
+========+========+
|     11 | 219459 |
+--------+--------+

In [31]:
etl.transform.basics.tail(table3)

+-------------------------+----------------+------------------------------------------------------------+-------+------------------+-----------------+-------+----------+-----------------------+-------------------+-----+
| GEO.id                  | GEO.id2        | GEO.display-labelEstimate; Total                           | White | African American | American Indian | Asian | Hawaiian | Some other race alone | Two or more races |     |
+=========================+================+============================================================+=======+==================+=================+=======+==========+=======================+===================+=====+
| '1500000US560459511001' | '560459511001' | 'Block Group 1, Census Tract 9511, Weston County, Wyoming' |  1392 |             1307 |               0 |    27 |        0 |                     0 |                 0 |  58 |
+-------------------------+----------------+------------------------------------------------------------+-------+------------------+-----------------+-------+----------+-----------------------+-------------------+-----+
| '1500000US560459511002' | '560459511002' | 'Block Group 2, Census Tract 9511, Weston County, Wyoming' |  2050 |             1983 |              15 |    20 |       10 |                     0 |                 5 |  17 |
+-------------------------+----------------+------------------------------------------------------------+-------+------------------+-----------------+-------+----------+-----------------------+-------------------+-----+
| '1500000US560459513001' | '560459513001' | 'Block Group 1, Census Tract 9513, Weston County, Wyoming' |  1291 |             1096 |               0 |    36 |        0 |                     0 |                 0 | 159 |
+-------------------------+----------------+------------------------------------------------------------+-------+------------------+-----------------+-------+----------+-----------------------+-------------------+-----+
| '1500000US560459513002' | '560459513002' | 'Block Group 2, Census Tract 9513, Weston County, Wyoming' |  1046 |             1044 |               0 |     0 |        0 |                     0 |                 0 |   2 |
+-------------------------+----------------+------------------------------------------------------------+-------+------------------+-----------------+-------+----------+-----------------------+-------------------+-----+
| '1500000US560459513003' | '560459513003' | 'Block Group 3, Census Tract 9513, Weston County, Wyoming' |  1373 |             1345 |               0 |     0 |       28 |                     0 |                 0 |   0 |
+-------------------------+----------------+------------------------------------------------------------+-------+------------------+-----------------+-------+----------+-----------------------+-------------------+-----+

In [32]:
# write out the new table to a csv file
etl.tocsv(table3, 'COMB_RACE_ACS_15_5YR_B02001_with_ann_adj_w_geo.id_final.csv')