In [1]:
import petl as etl

In [2]:
import pandas as pd

In [3]:
import glob

In [4]:
from collections import OrderedDict

In [5]:
table1a = etl.fromcsv('/Users/lizadams/EPA-CTOOLS/CensusData/ACS_NATIONAL/North_Carolina/NC_INCOME_ACS_15_5YR_B19001_with_ann.csv')

In [6]:
table1a

+-------------------------+----------------+--------------------------------------------------------------------+--------------------+---------------------------+----------------------------------------+-----------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-------------------------------------------+--------------------------------------------------+-------------------------------------------+--------------------------------------------------+-------------------------------------------+--------------------------------------------------+---------------------------------------+----------------------------------------------+
| GEO.id                  | GEO.id2        | GEO.display-label                                                  | HD01_VD01          | HD02_VD01                 | HD01_VD02                              | HD02_VD02                                     | HD01_VD03                               | HD02_VD03                                      | HD01_VD04                               | HD02_VD04                                      | HD01_VD05                               | HD02_VD05                                      | HD01_VD06                               | HD02_VD06                                      | HD01_VD07                               | HD02_VD07                                      | HD01_VD08                               | HD02_VD08                                      | HD01_VD09                               | HD02_VD09                                      | HD01_VD10                               | HD02_VD10                                      | HD01_VD11                               | HD02_VD11                                      | HD01_VD12                               | HD02_VD12                                      | HD01_VD13                               | HD02_VD13                                      | HD01_VD14                                 | HD02_VD14                                        | HD01_VD15                                 | HD02_VD15                                        | HD01_VD16                                 | HD02_VD16                                        | HD01_VD17                             | HD02_VD17                                    |
+=========================+================+====================================================================+====================+===========================+========================================+===============================================+=========================================+================================================+=========================================+================================================+=========================================+================================================+=========================================+================================================+=========================================+================================================+=========================================+================================================+=========================================+================================================+=========================================+================================================+=========================================+================================================+=========================================+================================================+=========================================+================================================+===========================================+==================================================+===========================================+==================================================+===========================================+==================================================+=======================================+==============================================+
| 'Id'                    | 'Id2'          | 'Geography'                                                        | 'Estimate; Total:' | 'Margin of Error; Total:' | 'Estimate; Total: - Less than $10,000' | 'Margin of Error; Total: - Less than $10,000' | 'Estimate; Total: - $10,000 to $14,999' | 'Margin of Error; Total: - $10,000 to $14,999' | 'Estimate; Total: - $15,000 to $19,999' | 'Margin of Error; Total: - $15,000 to $19,999' | 'Estimate; Total: - $20,000 to $24,999' | 'Margin of Error; Total: - $20,000 to $24,999' | 'Estimate; Total: - $25,000 to $29,999' | 'Margin of Error; Total: - $25,000 to $29,999' | 'Estimate; Total: - $30,000 to $34,999' | 'Margin of Error; Total: - $30,000 to $34,999' | 'Estimate; Total: - $35,000 to $39,999' | 'Margin of Error; Total: - $35,000 to $39,999' | 'Estimate; Total: - $40,000 to $44,999' | 'Margin of Error; Total: - $40,000 to $44,999' | 'Estimate; Total: - $45,000 to $49,999' | 'Margin of Error; Total: - $45,000 to $49,999' | 'Estimate; Total: - $50,000 to $59,999' | 'Margin of Error; Total: - $50,000 to $59,999' | 'Estimate; Total: - $60,000 to $74,999' | 'Margin of Error; Total: - $60,000 to $74,999' | 'Estimate; Total: - $75,000 to $99,999' | 'Margin of Error; Total: - $75,000 to $99,999' | 'Estimate; Total: - $100,000 to $124,999' | 'Margin of Error; Total: - $100,000 to $124,999' | 'Estimate; Total: - $125,000 to $149,999' | 'Margin of Error; Total: - $125,000 to $149,999' | 'Estimate; Total: - $150,000 to $199,999' | 'Margin of Error; Total: - $150,000 to $199,999' | 'Estimate; Total: - $200,000 or more' | 'Margin of Error; Total: - $200,000 or more' |
+-------------------------+----------------+--------------------------------------------------------------------+--------------------+---------------------------+----------------------------------------+-----------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-------------------------------------------+--------------------------------------------------+-------------------------------------------+--------------------------------------------------+-------------------------------------------+--------------------------------------------------+---------------------------------------+----------------------------------------------+
| '1500000US370010201001' | '370010201001' | 'Block Group 1, Census Tract 201, Alamance County, North Carolina' | '629'              | '114'                     | '82'                                   | '53'                                          | '87'                                    | '63'                                           | '66'                                    | '44'                                           | '36'                                    | '40'                                           | '55'                                    | '37'                                           | '29'                                    | '26'                                           | '39'                                    | '44'                                           | '0'                                     | '12'                                           | '0'                                     | '12'                                           | '52'                                    | '32'                                           | '59'                                    | '52'                                           | '82'                                    | '42'                                           | '11'                                      | '14'                                             | '13'                                      | '20'                                             | '0'                                       | '12'                                             | '18'                                  | '17'                                         |
+-------------------------+----------------+--------------------------------------------------------------------+--------------------+---------------------------+----------------------------------------+-----------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-------------------------------------------+--------------------------------------------------+-------------------------------------------+--------------------------------------------------+-------------------------------------------+--------------------------------------------------+---------------------------------------+----------------------------------------------+
| '1500000US370010201002' | '370010201002' | 'Block Group 2, Census Tract 201, Alamance County, North Carolina' | '624'              | '101'                     | '40'                                   | '47'                                          | '8'                                     | '13'                                           | '32'                                    | '29'                                           | '50'                                    | '35'                                           | '24'                                    | '23'                                           | '35'                                    | '37'                                           | '15'                                    | '17'                                           | '85'                                    | '54'                                           | '33'                                    | '38'                                           | '53'                                    | '46'                                           | '25'                                    | '20'                                           | '116'                                   | '57'                                           | '36'                                      | '29'                                             | '22'                                      | '21'                                             | '37'                                      | '27'                                             | '13'                                  | '14'                                         |
+-------------------------+----------------+--------------------------------------------------------------------+--------------------+---------------------------+----------------------------------------+-----------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-------------------------------------------+--------------------------------------------------+-------------------------------------------+--------------------------------------------------+-------------------------------------------+--------------------------------------------------+---------------------------------------+----------------------------------------------+
| '1500000US370010201003' | '370010201003' | 'Block Group 3, Census Tract 201, Alamance County, North Carolina' | '360'              | '92'                      | '62'                                   | '45'                                          | '55'                                    | '43'                                           | '54'                                    | '56'                                           | '87'                                    | '77'                                           | '0'                                     | '12'                                           | '9'                                     | '14'                                           | '43'                                    | '56'                                           | '19'                                    | '20'                                           | '16'                                    | '26'                                           | '8'                                     | '13'                                           | '0'                                     | '12'                                           | '7'                                     | '14'                                           | '0'                                       | '12'                                             | '0'                                       | '12'                                             | '0'                                       | '12'                                             | '0'                                   | '12'                                         |
+-------------------------+----------------+--------------------------------------------------------------------+--------------------+---------------------------+----------------------------------------+-----------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-------------------------------------------+--------------------------------------------------+-------------------------------------------+--------------------------------------------------+-------------------------------------------+--------------------------------------------------+---------------------------------------+----------------------------------------------+
| '1500000US370010201004' | '370010201004' | 'Block Group 4, Census Tract 201, Alamance County, North Carolina' | '308'              | '89'                      | '36'                                   | '22'                                          | '26'                                    | '25'                                           | '34'                                    | '25'                                           | '13'                                    | '16'                                           | '16'                                    | '18'                                           | '88'                                    | '76'                                           | '0'                                     | '12'                                           | '0'                                     | '12'                                           | '34'                                    | '34'                                           | '36'                                    | '44'                                           | '4'                                     | '6'                                            | '0'                                     | '12'                                           | '0'                                       | '12'                                             | '21'                                      | '30'                                             | '0'                                       | '12'                                             | '0'                                   | '12'                                         |

In [7]:
#Read in the tables
#Note that wildcards didn't work so I had to rename the directories to replace space with _
# Note some of the files didn't exist, so they are omitted for Alaska
#'./Alabama/AL_INCOME_ACS_15_5YR_B19001_with_ann.csv'
df1 = etl.fromcsv('./Alabama/AL_INCOME_ACS_15_5YR_B19001.csv')
#df2 = etl.fromcsv('./Alaska/AK_INCOME_ACS_15_5YR_B19001.csv')
df3 = etl.fromcsv('./Arizona/AZ_INCOME_ACS_15_5YR_B19001_with_ann.csv')
df4 = etl.fromcsv('./Arkansas/AR_INCOME_ACS_15_5YR_B19001_with_ann.csv')
df5 = etl.fromcsv('./California/CA_INCOME_ACS_15_5YR_B19001_with_ann.csv')
df6 = etl.fromcsv('./Colorado/CO_INCOME_ACS_15_5YR_B19001_with_ann.csv')
df7 = etl.fromcsv('./Connecticutt/CT_INCOME_ACS_15_5YR_B19001_with_ann.csv')
df8 = etl.fromcsv('./DC/DC_INCOME_ACS_15_5YR_B19001_with_ann.csv')
df9 = etl.fromcsv('./Delaware/DE_INCOME_ACS_15_5YR_B19001_with_ann.csv')
df10 = etl.fromcsv('./Florida/FL_INCOME_ACS_15_5YR_B19001_with_ann.csv')
df11 = etl.fromcsv('./Georgia/GA_INCOME_ACS_15_5YR_B19001_with_ann.csv')
df12 = etl.fromcsv('./Hawaii/HI_INCOME_ACS_15_5YR_B19001_with_ann.csv')
df13 = etl.fromcsv('./Idaho/ID_INCOME_ACS_15_5YR_B19001_with_ann.csv')
df14 = etl.fromcsv('./Illinois/IL_INCOME_ACS_15_5YR_B19001_with_ann.csv')
df15 = etl.fromcsv('./Indiana/IN_INCOME_ACS_15_5YR_B19001_with_ann.csv')
df16 = etl.fromcsv('./Iowa/IA_INCOME_ACS_15_5YR_B19001_with_ann.csv')
df17 = etl.fromcsv('./Kansas/KS_INCOME_ACS_15_5YR_B19001_with_ann.csv')
df18 = etl.fromcsv('./Kentucky/KY_INCOME_ACS_15_5YR_B19001_with_ann.csv')
df19 = etl.fromcsv('./Louisiana/LA_INCOME_ACS_15_5YR_B19001_with_ann.csv')
df20 = etl.fromcsv('./Maine/ME_INCOME_ACS_15_5YR_B19001_with_ann.csv')
df21 = etl.fromcsv('./Maryland/MD_INCOME_ACS_15_5YR_B19001_with_ann.csv')
df22 = etl.fromcsv('./Massachusetts/MA_INCOME_ACS_15_5YR_B19001_with_ann.csv')
df23 = etl.fromcsv('./Michigan/MI_INCOME_ACS_15_5YR_B19001_with_ann.csv')
df24 = etl.fromcsv('./Minnesota/MN_INCOME_ACS_15_5YR_B19001_with_ann.csv')
df25 = etl.fromcsv('./Mississippi/MS_INCOME_ACS_15_5YR_B19001_with_ann.csv')
df26 = etl.fromcsv('./Missouri/MO_INCOME_ACS_15_5YR_B19001_with_ann.csv')
df27 = etl.fromcsv('./Montana/MT_INCOME_ACS_15_5YR_B19001_with_ann.csv')
df28 = etl.fromcsv('./Nebraska/NE_INCOME_ACS_15_5YR_B19001_with_ann.csv')
df29 = etl.fromcsv('./Nevada/NV_INCOME_ACS_15_5YR_B19001_with_ann.csv')
df30 = etl.fromcsv('./New_Hampshire/NH_INCOME_ACS_15_5YR_B19001_with_ann.csv')
df31 = etl.fromcsv('./New_Jersey/NJ_INCOME_ACS_15_5YR_B19001_with_ann.csv')
df32 = etl.fromcsv('./New_Mexico/NM_INCOME_ACS_15_5YR_B19001_with_ann.csv', encoding = "ISO-8859-1")
df33 = etl.fromcsv('./New_York/NY_INCOME_ACS_15_5YR_B19001_with_ann.csv', encoding = "ISO-8859-1")
df34 = etl.fromcsv('./North_Carolina/NC_INCOME_ACS_15_5YR_B19001_with_ann.csv')
df35 = etl.fromcsv('./North_Dakota/ND_INCOME_ACS_15_5YR_B19001_with_ann.csv')
df36 = etl.fromcsv('./Ohio/OH_INCOME_ACS_15_5YR_B19001_with_ann.csv')
df37 = etl.fromcsv('./Oklahoma/OK_INCOME_ACS_15_5YR_B19001_with_ann.csv')
df38 = etl.fromcsv('./Oregon/OR_INCOME_ACS_15_5YR_B19001_with_ann.csv')
df39 = etl.fromcsv('./Pennsylvania/PA_INCOME_ACS_15_5YR_B19001_with_ann.csv',encoding = "ISO-8859-1")
df40 = etl.fromcsv('./Puerto_Rico/PR_INCOME_ACS_15_5YR_B19001_with_ann.csv', encoding = "ISO-8859-1")
df41 = etl.fromcsv('./Rhode_Island/RI_INCOME_ACS_15_5YR_B19001_with_ann.csv')
df42 = etl.fromcsv('./South_Carolina/SC_INCOME_ACS_15_5YR_B19001_with_ann.csv')
df43 = etl.fromcsv('./South_Dakota/ACS_15_5YR_B19001_with_ann.csv')
df44 = etl.fromcsv('./Tennessee/TN_INCOME_ACS_15_5YR_B19001_with_ann.csv')
df45 = etl.fromcsv('./Texas/TX_INCOME_ACS_15_5YR_B19001_with_ann.csv')
df46 = etl.fromcsv('./Utah/UT_INCOME_ACS_15_5YR_B19001_with_ann.csv')
df47 = etl.fromcsv('./Vermont/VT_INCOME_ACS_15_5YR_B19001_with_ann.csv')
df48 = etl.fromcsv('./Virginia/VA_INCOME_ACS_15_5YR_B19001_with_ann.csv')
df49 = etl.fromcsv('./Washington/WA_INCOME_ACS_15_5YR_B19001_with_ann.csv')
df50 = etl.fromcsv('./West_Virginia/WV_INCOME_ACS_15_5YR_B19001_with_ann.csv')
df51 = etl.fromcsv('./Wisconsin/WI_INCOME_ACS_15_5YR_B19001_with_ann.csv')
df52 = etl.fromcsv('./Wyoming/WY_INCOME_ACS_15_5YR_B19001_with_ann.csv')

In [6]:
#all_files = glob.glob("./*/AR_AGE_SEX_ACS_15_5YR_B01001_metadata.csv")

In [9]:
df32

+-------------------------+----------------+-------------------------------------------------------------------+--------------------+---------------------------+----------------------------------------+-----------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-------------------------------------------+--------------------------------------------------+-------------------------------------------+--------------------------------------------------+-------------------------------------------+--------------------------------------------------+---------------------------------------+----------------------------------------------+
| GEO.id                  | GEO.id2        | GEO.display-label                                                 | HD01_VD01          | HD02_VD01                 | HD01_VD02                              | HD02_VD02                                     | HD01_VD03                               | HD02_VD03                                      | HD01_VD04                               | HD02_VD04                                      | HD01_VD05                               | HD02_VD05                                      | HD01_VD06                               | HD02_VD06                                      | HD01_VD07                               | HD02_VD07                                      | HD01_VD08                               | HD02_VD08                                      | HD01_VD09                               | HD02_VD09                                      | HD01_VD10                               | HD02_VD10                                      | HD01_VD11                               | HD02_VD11                                      | HD01_VD12                               | HD02_VD12                                      | HD01_VD13                               | HD02_VD13                                      | HD01_VD14                                 | HD02_VD14                                        | HD01_VD15                                 | HD02_VD15                                        | HD01_VD16                                 | HD02_VD16                                        | HD01_VD17                             | HD02_VD17                                    |
+=========================+================+===================================================================+====================+===========================+========================================+===============================================+=========================================+================================================+=========================================+================================================+=========================================+================================================+=========================================+================================================+=========================================+================================================+=========================================+================================================+=========================================+================================================+=========================================+================================================+=========================================+================================================+=========================================+================================================+=========================================+================================================+===========================================+==================================================+===========================================+==================================================+===========================================+==================================================+=======================================+==============================================+
| 'Id'                    | 'Id2'          | 'Geography'                                                       | 'Estimate; Total:' | 'Margin of Error; Total:' | 'Estimate; Total: - Less than $10,000' | 'Margin of Error; Total: - Less than $10,000' | 'Estimate; Total: - $10,000 to $14,999' | 'Margin of Error; Total: - $10,000 to $14,999' | 'Estimate; Total: - $15,000 to $19,999' | 'Margin of Error; Total: - $15,000 to $19,999' | 'Estimate; Total: - $20,000 to $24,999' | 'Margin of Error; Total: - $20,000 to $24,999' | 'Estimate; Total: - $25,000 to $29,999' | 'Margin of Error; Total: - $25,000 to $29,999' | 'Estimate; Total: - $30,000 to $34,999' | 'Margin of Error; Total: - $30,000 to $34,999' | 'Estimate; Total: - $35,000 to $39,999' | 'Margin of Error; Total: - $35,000 to $39,999' | 'Estimate; Total: - $40,000 to $44,999' | 'Margin of Error; Total: - $40,000 to $44,999' | 'Estimate; Total: - $45,000 to $49,999' | 'Margin of Error; Total: - $45,000 to $49,999' | 'Estimate; Total: - $50,000 to $59,999' | 'Margin of Error; Total: - $50,000 to $59,999' | 'Estimate; Total: - $60,000 to $74,999' | 'Margin of Error; Total: - $60,000 to $74,999' | 'Estimate; Total: - $75,000 to $99,999' | 'Margin of Error; Total: - $75,000 to $99,999' | 'Estimate; Total: - $100,000 to $124,999' | 'Margin of Error; Total: - $100,000 to $124,999' | 'Estimate; Total: - $125,000 to $149,999' | 'Margin of Error; Total: - $125,000 to $149,999' | 'Estimate; Total: - $150,000 to $199,999' | 'Margin of Error; Total: - $150,000 to $199,999' | 'Estimate; Total: - $200,000 or more' | 'Margin of Error; Total: - $200,000 or more' |
+-------------------------+----------------+-------------------------------------------------------------------+--------------------+---------------------------+----------------------------------------+-----------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-------------------------------------------+--------------------------------------------------+-------------------------------------------+--------------------------------------------------+-------------------------------------------+--------------------------------------------------+---------------------------------------+----------------------------------------------+
| '1500000US350010001071' | '350010001071' | 'Block Group 1, Census Tract 1.07, Bernalillo County, New Mexico' | '743'              | '82'                      | '106'                                  | '68'                                          | '18'                                    | '20'                                           | '25'                                    | '22'                                           | '9'                                     | '15'                                           | '8'                                     | '13'                                           | '0'                                     | '11'                                           | '55'                                    | '52'                                           | '26'                                    | '25'                                           | '18'                                    | '14'                                           | '51'                                    | '45'                                           | '42'                                    | '32'                                           | '79'                                    | '43'                                           | '49'                                      | '29'                                             | '48'                                      | '28'                                             | '119'                                     | '49'                                             | '90'                                  | '48'                                         |
+-------------------------+----------------+-------------------------------------------------------------------+--------------------+---------------------------+----------------------------------------+-----------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-------------------------------------------+--------------------------------------------------+-------------------------------------------+--------------------------------------------------+-------------------------------------------+--------------------------------------------------+---------------------------------------+----------------------------------------------+
| '1500000US350010001072' | '350010001072' | 'Block Group 2, Census Tract 1.07, Bernalillo County, New Mexico' | '452'              | '71'                      | '8'                                    | '12'                                          | '24'                                    | '39'                                           | '22'                                    | '20'                                           | '52'                                    | '39'                                           | '0'                                     | '11'                                           | '18'                                    | '19'                                           | '9'                                     | '14'                                           | '25'                                    | '39'                                           | '17'                                    | '18'                                           | '0'                                     | '11'                                           | '32'                                    | '26'                                           | '69'                                    | '41'                                           | '40'                                      | '28'                                             | '48'                                      | '30'                                             | '66'                                      | '38'                                             | '22'                                  | '27'                                         |
+-------------------------+----------------+-------------------------------------------------------------------+--------------------+---------------------------+----------------------------------------+-----------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-------------------------------------------+--------------------------------------------------+-------------------------------------------+--------------------------------------------------+-------------------------------------------+--------------------------------------------------+---------------------------------------+----------------------------------------------+
| '1500000US350010001081' | '350010001081' | 'Block Group 1, Census Tract 1.08, Bernalillo County, New Mexico' | '422'              | '77'                      | '16'                                   | '18'                                          | '21'                                    | '26'                                           | '9'                                     | '15'                                           | '11'                                    | '17'                                           | '35'                                    | '42'                                           | '10'                                    | '16'                                           | '0'                                     | '11'                                           | '0'                                     | '11'                                           | '18'                                    | '21'                                           | '60'                                    | '33'                                           | '31'                                    | '27'                                           | '92'                                    | '58'                                           | '40'                                      | '26'                                             | '26'                                      | '20'                                             | '34'                                      | '36'                                             | '19'                                  | '20'                                         |
+-------------------------+----------------+-------------------------------------------------------------------+--------------------+---------------------------+----------------------------------------+-----------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-----------------------------------------+------------------------------------------------+-------------------------------------------+--------------------------------------------------+-------------------------------------------+--------------------------------------------------+-------------------------------------------+--------------------------------------------------+---------------------------------------+----------------------------------------------+
| '1500000US350010001082' | '350010001082' | 'Block Group 2, Census Tract 1.08, Bernalillo County, New Mexico' | '806'              | '99'                      | '62'                                   | '37'                                          | '63'                                    | '52'                                           | '63'                                    | '47'                                           | '51'                                    | '33'                                           | '107'                                   | '59'                                           | '17'                                    | '20'                                           | '22'                                    | '26'                                           | '79'                                    | '69'                                           | '29'                                    | '25'                                           | '69'                                    | '48'                                           | '73'                                    | '28'                                           | '67'                                    | '42'                                           | '72'                                      | '50'                                             | '15'                                      | '18'                                             | '7'                                       | '11'                                             | '10'                                  | '15'                                         |

In [10]:
df_first = etl.transform.basics.cat(df1, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13, df14, df15,
                                 df16, df17, df18, df19, df20, df21, df22, df23, df24, df25, df26, df27, 
                                df28, df29, df30, df31, df32, df33, df34, df35, df36, df37, df38, df39, df40,
                                   df41, df42, df43, df44, df45, df46, df47, df48, df49, df50, df51, df52)

In [11]:
etl.transform.basics.tail(df_first)

+-------------------------+----------------+------------------------------------------------------------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+
| GEO.id                  | GEO.id2        | GEO.display-label                                          | HD01_VD01 | HD02_VD01 | HD01_VD02 | HD02_VD02 | HD01_VD03 | HD02_VD03 | HD01_VD04 | HD02_VD04 | HD01_VD05 | HD02_VD05 | HD01_VD06 | HD02_VD06 | HD01_VD07 | HD02_VD07 | HD01_VD08 | HD02_VD08 | HD01_VD09 | HD02_VD09 | HD01_VD10 | HD02_VD10 | HD01_VD11 | HD02_VD11 | HD01_VD12 | HD02_VD12 | HD01_VD13 | HD02_VD13 | HD01_VD14 | HD02_VD14 | HD01_VD15 | HD02_VD15 | HD01_VD16 | HD02_VD16 | HD01_VD17 | HD02_VD17 |
+=========================+================+============================================================+===========+===========+===========+===========+===========+===========+===========+===========+===========+===========+===========+===========+===========+===========+===========+===========+===========+===========+===========+===========+===========+===========+===========+===========+===========+===========+===========+===========+===========+===========+===========+===========+===========+===========+
| '1500000US560459511001' | '560459511001' | 'Block Group 1, Census Tract 9511, Weston County, Wyoming' | '651'     | '134'     | '49'      | '33'      | '25'      | '22'      | '39'      | '33'      | '6'       | '8'       | '13'      | '16'      | '22'      | '25'      | '42'      | '56'      | '12'      | '11'      | '33'      | '22'      | '64'      | '43'      | '118'     | '60'      | '88'      | '36'      | '47'      | '30'      | '35'      | '28'      | '40'      | '27'      | '18'      | '17'      |
+-------------------------+----------------+------------------------------------------------------------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+
| '1500000US560459511002' | '560459511002' | 'Block Group 2, Census Tract 9511, Weston County, Wyoming' | '742'     | '120'     | '31'      | '25'      | '23'      | '23'      | '11'      | '16'      | '16'      | '18'      | '7'       | '11'      | '63'      | '44'      | '48'      | '44'      | '10'      | '15'      | '9'       | '14'      | '86'      | '60'      | '38'      | '29'      | '163'     | '72'      | '92'      | '51'      | '67'      | '53'      | '50'      | '60'      | '28'      | '33'      |
+-------------------------+----------------+------------------------------------------------------------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+
| '1500000US560459513001' | '560459513001' | 'Block Group 1, Census Tract 9513, Weston County, Wyoming' | '520'     | '106'     | '23'      | '23'      | '52'      | '41'      | '38'      | '30'      | '74'      | '65'      | '13'      | '19'      | '58'      | '44'      | '8'       | '12'      | '34'      | '33'      | '0'       | '11'      | '39'      | '33'      | '19'      | '19'      | '110'     | '61'      | '30'      | '26'      | '4'       | '8'       | '18'      | '29'      | '0'       | '11'      |
+-------------------------+----------------+------------------------------------------------------------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+
| '1500000US560459513002' | '560459513002' | 'Block Group 2, Census Tract 9513, Weston County, Wyoming' | '526'     | '134'     | '55'      | '60'      | '77'      | '61'      | '44'      | '38'      | '20'      | '24'      | '18'      | '20'      | '11'      | '17'      | '0'       | '11'      | '41'      | '28'      | '2'       | '5'       | '16'      | '20'      | '52'      | '26'      | '80'      | '52'      | '41'      | '27'      | '17'      | '17'      | '18'      | '20'      | '34'      | '52'      |
+-------------------------+----------------+------------------------------------------------------------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+
| '1500000US560459513003' | '560459513003' | 'Block Group 3, Census Tract 9513, Weston County, Wyoming' | '547'     | '97'      | '28'      | '23'      | '9'       | '15'      | '27'      | '27'      | '69'      | '62'      | '18'      | '19'      | '0'       | '11'      | '22'      | '27'      | '47'      | '46'      | '39'      | '37'      | '78'      | '57'      | '6'       | '10'      | '109'     | '50'      | '54'      | '43'      | '24'      | '23'      | '3'       | '7'       | '14'      | '20'      |
+-------------------------+----------------+------------------------------------------------------------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+

In [70]:
#trouble shooting the issue
# df40, df32 when included are throwing an error when I used tail to look at the bottom of the file
#df_third = etl.transform.basics.cat(df40)
#df_third

In [12]:
#remove margin of error columns from the table, keep only the column with estimates
table2 = etl.cutout(df_first, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36 )

In [13]:
table2

+-------------------------+----------------+------------------------------------------------------------+--------------------+----------------------------------------+-----------------------------------------+-----------------------------------------+-----------------------------------------+-----------------------------------------+-----------------------------------------+-----------------------------------------+-----------------------------------------+-----------------------------------------+-----------------------------------------+-----------------------------------------+-----------------------------------------+-------------------------------------------+-------------------------------------------+-------------------------------------------+---------------------------------------+
| GEO.id                  | GEO.id2        | GEO.display-label                                          | HD01_VD01          | HD01_VD02                              | HD01_VD03                               | HD01_VD04                               | HD01_VD05                               | HD01_VD06                               | HD01_VD07                               | HD01_VD08                               | HD01_VD09                               | HD01_VD10                               | HD01_VD11                               | HD01_VD12                               | HD01_VD13                               | HD01_VD14                                 | HD01_VD15                                 | HD01_VD16                                 | HD01_VD17                             |
+=========================+================+============================================================+====================+========================================+=========================================+=========================================+=========================================+=========================================+=========================================+=========================================+=========================================+=========================================+=========================================+=========================================+=========================================+===========================================+===========================================+===========================================+=======================================+
| 'Id'                    | 'Id2'          | 'Geography'                                                | 'Estimate; Total:' | 'Estimate; Total: - Less than $10,000' | 'Estimate; Total: - $10,000 to $14,999' | 'Estimate; Total: - $15,000 to $19,999' | 'Estimate; Total: - $20,000 to $24,999' | 'Estimate; Total: - $25,000 to $29,999' | 'Estimate; Total: - $30,000 to $34,999' | 'Estimate; Total: - $35,000 to $39,999' | 'Estimate; Total: - $40,000 to $44,999' | 'Estimate; Total: - $45,000 to $49,999' | 'Estimate; Total: - $50,000 to $59,999' | 'Estimate; Total: - $60,000 to $74,999' | 'Estimate; Total: - $75,000 to $99,999' | 'Estimate; Total: - $100,000 to $124,999' | 'Estimate; Total: - $125,000 to $149,999' | 'Estimate; Total: - $150,000 to $199,999' | 'Estimate; Total: - $200,000 or more' |
+-------------------------+----------------+------------------------------------------------------------+--------------------+----------------------------------------+-----------------------------------------+-----------------------------------------+-----------------------------------------+-----------------------------------------+-----------------------------------------+-----------------------------------------+-----------------------------------------+-----------------------------------------+-----------------------------------------+-----------------------------------------+-----------------------------------------+-------------------------------------------+-------------------------------------------+-------------------------------------------+---------------------------------------+
| '1500000US010010201001' | '010010201001' | 'Block Group 1, Census Tract 201, Autauga County, Alabama' | '238'              | '11'                                   | '22'                                    | '20'                                    | '19'                                    | '37'                                    | '5'                                     | '0'                                     | '6'                                     | '0'                                     | '5'                                     | '44'                                    | '40'                                    | '5'                                       | '24'                                      | '0'                                       | '0'                                   |
+-------------------------+----------------+------------------------------------------------------------+--------------------+----------------------------------------+-----------------------------------------+-----------------------------------------+-----------------------------------------+-----------------------------------------+-----------------------------------------+-----------------------------------------+-----------------------------------------+-----------------------------------------+-----------------------------------------+-----------------------------------------+-----------------------------------------+-------------------------------------------+-------------------------------------------+-------------------------------------------+---------------------------------------+
| '1500000US010010201002' | '010010201002' | 'Block Group 2, Census Tract 201, Autauga County, Alabama' | '459'              | '5'                                    | '27'                                    | '36'                                    | '23'                                    | '6'                                     | '38'                                    | '26'                                    | '9'                                     | '13'                                    | '28'                                    | '58'                                    | '82'                                    | '42'                                      | '28'                                      | '29'                                      | '9'                                   |
+-------------------------+----------------+------------------------------------------------------------+--------------------+----------------------------------------+-----------------------------------------+-----------------------------------------+-----------------------------------------+-----------------------------------------+-----------------------------------------+-----------------------------------------+-----------------------------------------+-----------------------------------------+-----------------------------------------+-----------------------------------------+-----------------------------------------+-------------------------------------------+-------------------------------------------+-------------------------------------------+---------------------------------------+
| '1500000US010010202001' | '010010202001' | 'Block Group 1, Census Tract 202, Autauga County, Alabama' | '365'              | '41'                                   | '120'                                   | '3'                                     | '0'                                     | '24'                                    | '10'                                    | '16'                                    | '23'                                    | '0'                                     | '4'                                     | '23'                                    | '87'                                    | '6'                                       | '8'                                       | '0'                                       | '0'                                   |
+-------------------------+----------------+------------------------------------------------------------+--------------------+----------------------------------------+-----------------------------------------+-----------------------------------------+-----------------------------------------+-----------------------------------------+-----------------------------------------+-----------------------------------------+-----------------------------------------+-----------------------------------------+-----------------------------------------+-----------------------------------------+-----------------------------------------+-------------------------------------------+-------------------------------------------+-------------------------------------------+---------------------------------------+
| '1500000US010010202002' | '010010202002' | 'Block Group 2, Census Tract 202, Autauga County, Alabama' | '364'              | '34'                                   | '59'                                    | '18'                                    | '24'                                    | '24'                                    | '18'                                    | '6'                                     | '36'                                    | '22'                                    | '6'                                     | '15'                                    | '17'                                    | '67'                                      | '18'                                      | '0'                                       | '0'                                   |
+-------------------------+----------------+------------------------------------------------------------+--------------------+----------------------------------------+-----------------------------------------+-----------------------------------------+-----------------------------------------+-----------------------------------------+-----------------------------------------+-----------------------------------------+-----------------------------------------+-----------------------------------------+-----------------------------------------+-----------------------------------------+-----------------------------------------+-------------------------------------------+-------------------------------------------+-------------------------------------------+---------------------------------------+
...

In [14]:
etl.rowlengths(table2)

+--------+--------+
| length | count  |
+========+========+
|     20 | 218976 |
+--------+--------+

In [15]:
# convert the numbers to integers so that we can add them properly
table2 = etl.convert(table2, (3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19), int)

In [31]:
# define a function that groups the data so that we have fewer age categories
# 0-4, 5-9, 10-17, 18-44, 45-64, 65+
# dropping row[0] as this includes characters in it, and so all values are converted to None
def rowmapper(row):
      return [row[0], row[1], row[2], row[3],
              row.HD01_VD02 + row.HD01_VD03 + row.HD01_VD04 + row.HD01_VD05 + row.HD01_VD06, 
              row.HD01_VD07 + row.HD01_VD08 + row.HD01_VD09 + row.HD01_VD10,
              row.HD01_VD11 + row.HD01_VD12 + row.HD01_VD13,
              row.HD01_VD14 + row.HD01_VD15 + row.HD01_VD16,
              row.HD01_VD17
                ]

In [32]:
# create the table with a new header
table3 = etl.rowmap(table2, rowmapper, header=['GEO.id','GEO.id2', 'GEO.display-label', 'Estimate; Total', 'Less than 29,999'
                        ,'30,000 to 49,999','50,000 to 99,999', '100,000 to 199,999', 'Greater than 200,000'])

In [33]:
# display the table and make sure the number of males in the new grouping match the male estimate
# verify also that the number of females in the new grouping match the female estimate
table3

+-------------------------+----------------+------------------------------------------------------------+-----------------+------------------+------------------+------------------+--------------------+----------------------+
| GEO.id                  | GEO.id2        | GEO.display-label                                          | Estimate; Total | Less than 29,999 | 30,000 to 49,999 | 50,000 to 99,999 | 100,000 to 199,999 | Greater than 200,000 |
+=========================+================+============================================================+=================+==================+==================+==================+====================+======================+
| '1500000US010010201001' | '010010201001' | 'Block Group 1, Census Tract 201, Autauga County, Alabama' |             238 |              109 |               11 |               89 |                 29 |                    0 |
+-------------------------+----------------+------------------------------------------------------------+-----------------+------------------+------------------+------------------+--------------------+----------------------+
| '1500000US010010201002' | '010010201002' | 'Block Group 2, Census Tract 201, Autauga County, Alabama' |             459 |               97 |               86 |              168 |                 99 |                    9 |
+-------------------------+----------------+------------------------------------------------------------+-----------------+------------------+------------------+------------------+--------------------+----------------------+
| '1500000US010010202001' | '010010202001' | 'Block Group 1, Census Tract 202, Autauga County, Alabama' |             365 |              188 |               49 |              114 |                 14 |                    0 |
+-------------------------+----------------+------------------------------------------------------------+-----------------+------------------+------------------+------------------+--------------------+----------------------+
| '1500000US010010202002' | '010010202002' | 'Block Group 2, Census Tract 202, Autauga County, Alabama' |             364 |              159 |               82 |               38 |                 85 |                    0 |
+-------------------------+----------------+------------------------------------------------------------+-----------------+------------------+------------------+------------------+--------------------+----------------------+
| '1500000US010010203001' | '010010203001' | 'Block Group 1, Census Tract 203, Autauga County, Alabama' |             816 |              160 |              224 |              333 |                 92 |                    7 |
+-------------------------+----------------+------------------------------------------------------------+-----------------+------------------+------------------+------------------+--------------------+----------------------+
...

In [34]:
#notice that the sub-header description has been dropped, as all values were none, as they aere not an integer
etl.rowlengths(table3)

+--------+--------+
| length | count  |
+========+========+
|      9 | 218925 |
+--------+--------+

In [35]:
etl.transform.basics.tail(table3)

+-------------------------+----------------+------------------------------------------------------------+-----------------+------------------+------------------+------------------+--------------------+----------------------+
| GEO.id                  | GEO.id2        | GEO.display-label                                          | Estimate; Total | Less than 29,999 | 30,000 to 49,999 | 50,000 to 99,999 | 100,000 to 199,999 | Greater than 200,000 |
+=========================+================+============================================================+=================+==================+==================+==================+====================+======================+
| '1500000US560459511001' | '560459511001' | 'Block Group 1, Census Tract 9511, Weston County, Wyoming' |             651 |              132 |              109 |              270 |                122 |                   18 |
+-------------------------+----------------+------------------------------------------------------------+-----------------+------------------+------------------+------------------+--------------------+----------------------+
| '1500000US560459511002' | '560459511002' | 'Block Group 2, Census Tract 9511, Weston County, Wyoming' |             742 |               88 |              130 |              287 |                209 |                   28 |
+-------------------------+----------------+------------------------------------------------------------+-----------------+------------------+------------------+------------------+--------------------+----------------------+
| '1500000US560459513001' | '560459513001' | 'Block Group 1, Census Tract 9513, Weston County, Wyoming' |             520 |              200 |              100 |              168 |                 52 |                    0 |
+-------------------------+----------------+------------------------------------------------------------+-----------------+------------------+------------------+------------------+--------------------+----------------------+
| '1500000US560459513002' | '560459513002' | 'Block Group 2, Census Tract 9513, Weston County, Wyoming' |             526 |              214 |               54 |              148 |                 76 |                   34 |
+-------------------------+----------------+------------------------------------------------------------+-----------------+------------------+------------------+------------------+--------------------+----------------------+
| '1500000US560459513003' | '560459513003' | 'Block Group 3, Census Tract 9513, Weston County, Wyoming' |             547 |              151 |              108 |              193 |                 81 |                   14 |
+-------------------------+----------------+------------------------------------------------------------+-----------------+------------------+------------------+------------------+--------------------+----------------------+

In [36]:
# write out the new table to a csv file
etl.tocsv(table3, 'COMB_INCOME_ACS_15_5YR_B19001_with_ann_adj_w_geo.id_final.csv')